<section class="intro-text">
    <div>
        <h1>Raad het getal</h1>
        <h4>Raad een getal tussen de één en de honderd!</h4>
    </div>

    <div class="gokmechanisme">
        <input #gokgetal placeholder="Getal tussen 1 - 100" />
        <button (click)="berekenGok(gokgetal.value)" [disabled]="isDisabled">GOK!</button>
    </div>

    <div class='feedback-berichten'>
        <p>{{ feedback }}</p>
        <p>Aantal beurten resterend : {{ aantalBeurtenResterend }}</p>
    </div>
</section>