<section class="intro-text">
    <div>
        <h1>Raad het getal</h1>
        <h4>Raad een getal tussen de één en de honderd!</h4>
    </div>

    <mat-form-field>
        <mat-placeholder>Getal tussen 1 - 100</mat-placeholder>
        <input matInput type="number" #gokgetal1>
        <button mat-button matSuffix mat-stroked-button (click)="berekenGok(gokgetal1.value)" [disabled]="isDisabled" matTooltip="feedback">GOK!</button>
    </mat-form-field>

    <div class='feedback-berichten'>
        <p>{{ feedback }}</p>
        <p>Aantal beurten resterend : {{ aantalBeurtenResterend }}</p>
    </div>
</section>